<div class="container">
  <div id="home-about">
    <div id="about-text">
      <h2>
        <%= link_to "Start Investing in Your Future Today", new_user_registration_path %>
      </h2>
      <p>
        We make investing in green energy simple.
      </p>
      <p>
        greenspark is a tool to help you wisely invest in the stock market.
      </p>
      <p>
        You tell us how much you want to spend, and we will tell you what stocks to buy and how many.
      </p>
      <p>
        It really is that simple.
      </p>
      <p>
        We start you off with a wide selection stock choices in green energy companies and ETFs and you can expand your portfolio from there. Once you let us know your budget, the algorithm analyzes your portfolio and selects the best stocks for you to buy.
      </p>
      <p>
        <%= link_to "Click to start today.", new_user_registration_path %>
      </p>
    </div>
  </div>
</div>