<%= render 'layouts/login_paths'%>

<div id="home-index">
  <h1>
    <%= link_to "greenspark", new_user_registration_path %>
  </h1>
  <h2>
    <%= link_to "Start Investing in the Future Today", new_user_registration_path %>
  </h2>
  <h3>
    <%= link_to "What is greenspark?", about_path %>
  </h3>
</div>
