/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import url('https://fonts.googleapis.com/css?family=Scope+One');
 @import url('https://fonts.googleapis.com/css?family=BioRhyme');

body {
  background-color: #333;
  color: #00cc66;
  font-family: 'Scope One', serif;

  h1 {
    font-family: 'BioRhyme', serif;
  }
}

.form-control {
  background-color: #eeeeee;
}

.btn {
  background-color: #eeeeee;
  color: #333;
}

.well {
  background-color: #eeeeee;
}

.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus {
  background-color: #00cc66 !important;
  border-color: #00cc66 !important;
}

.pagination > li > a, .pagination > li > span {
  color: #333 !important;
}