#stocks-index {
  a {
    color: inherit;
    text-decoration: none;
  }

  .btn-default {
    color: #333;
  }

  .stock-link {
    display: flex;
    flex-wrap: wrap;
  }

  .stock-box {
    color: #333;
    margin: 8%;
    flex-basis: 84%;
    white-space: nowrap;
  }

  .well {
    color: #333;
  }

  @media only screen
    and (min-width: 430px) {
    .stock-box {
      margin: 2.5%;
      flex-basis: 45%;
    }
  }

}