<div id="header">
  <div class="jumbotron">
    <div class="container">
      <% if user_signed_in? %>
        <h1><%= link_to "greenspark", stocks_path %></h1>
        <p><%= link_to "be the spark", stocks_path %></p>
      <% else %>
        <h1><%= link_to "greenspark", root_path %></h1>
        <p><%= link_to "be the spark", root_path %></p>
      <% end %>
    </div>
  </div>
</div>
